.tbl-full
{
    width: 100%;
    font-size:14px;
}

table tr th
{
    border-bottom:1px solid black;
    padding: 1%;
    text-align: left;
    
}
table tr td
{
    padding: 1%;
    border-bottom:1px solid black;
    
}

.tbl-img{
    width: 350px; 
}
.tbl-img img
{
    width: 150px; height: 150px;
    
    
}

.wrapper{
    
    padding: 1%;
    width: 90%;
    margin: 0 auto;
}

.content
{
    background-color: #f1f2f6;
    padding:3% 0;
}

#categoryAddModal input{
    border: solid black 1PX;
}

#form-food input{
    border: solid black 1PX;
}

#availability{
    border: none;
}

#edit-category-name{
    border: solid black 1PX;
}