
body {
    background-color: black;
    color: white;
}

.sidebar {
    height: 100vh;
    background-color: #343a40;
}

.sidebar .nav-link {
    color: white;
}

.sidebar .nav-link:hover {
    background-color: #495057;
}

.modal-content {
    background-color: black;
    color: white;
}

.form-control {
    background-color: black;
    color: white;
}

.form-control::placeholder {
    color: lightgray;
    /* Adjust placeholder text color if needed */
}

.form-label {
    color: white;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #004085;
}

.btn-close {
    filter: invert(1);
}

.btn-close:hover {
    filter: invert(0.8);
}

.table-responsive img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    /* Ensures the image covers the entire 150x150 area */
}

/* Style for the toggle icon */
.field-icon {
    float: right;
    margin-left: -25px;
    margin-top: -25px;
    position: relative;
    z-index: 2;
    cursor: pointer;
}

.form-outline {
    position: relative;
}
#alert {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1050;
  }